.game-field {
	height: 100%;

	.field {
		height: 100%;
		width: 100%;

		.field-image {
			object-fit: fill;
			width: auto;
			min-width: 100%;
			min-height: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
}

